.code-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
    margin: 1em 1em;
    width: 700px;
    height: 400px;
    align-content: space-between;
    justify-content: flex-start;
    align-content: flex-start;
}

.code-card {
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: 1px 1px 10px #b14040,
        -5px -5px 3px #ffffff;
    padding: 10px;
    margin: 5px 5px;
    white-space: nowrap;
    /* 防止文本换行 */
    overflow: hidden;
    height: 3em;
    width: 11.5em;
}
.card-key {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-value input {
    background-color: transparent;
    user-select: none;
    /* 禁用文本选中 */
    -webkit-user-drag: none;
    /* 禁用文本拖拽（适用于WebKit浏览器，如Chrome和Safari） */
    -webkit-touch-callout: none;
    /* 禁用触摸长按弹出菜单（适用于WebKit浏览器） */
    border: 1px solid transparent;
    /* 透明边框 */
}

.new-card {
    margin: 0em 0em;
    width: 8em;
}

.new-card input {
    margin: 0em 0em;
    border: 1px solid transparent;
    /* 透明边框 */
    width: 11.5em;
}

.code-card p {
    margin: 0em 0em;
    width: 11.5em;
}

.tag-delete {
    cursor: pointer;
    position: absolute;
    top: -0.5em;
    right: -0.3em;
    padding: 5px;
    border-radius: 50%;
}
